{%load staticfiles%}<!--파일을 불러와줘요-->
<h1>Hello World!</h1>
{%if user.is_authenticated%}<!--로그인 한 상태?-->
<a href="{%url 'new'%}">New</a>
<a href="javascript:{document.getElementById('logout').submit()}">logout</a>

<form id='logout' method="POST" action="{%url 'logout'%}">
    {%csrf_token%}<input type="hidden"/>
</form>

{%else%}
<a href="{%url 'login'%}">Log In</a>
<a href="{%url 'signup'%}">Sign Up</a>
{%endif%}
<br>
<img src="{%static 'ho.jpg'%}" alt="" width="100px" height="200px">
{%for blog in blogs%}<!--python에서 가져온걸 하나씩 꺼내봐-->
<h1>{{blog.title}}</h1><!--말하는 변수를 보여줘-->
{{blog.pretty_pub_date}}
<br>
{{blog.summary}}
<a href="{%url 'detail' blog.id%}">...more</a><!--detail은 변수 하나가 더 필요하니까-->
<br>
{%endfor%}